global
        log     /dev/log local0
        maxconn {{ patroni_bootstrap_dcs_postgresql_parameters | selectattr('option', 'in', 'max_connections') | map(attribute='value') | list }}

defaults
        log     global
        mode    tcp
        retries 2
        timeout client 30m
        timeout connect 4s
        timeout server 30m
        timeout check 5s

listen stats
        mode http
        bind *:{{ patroni_haproxy_stats_listen_port }}
        stats enable
        stats uri /

listen master
        bind *:{{ patroni_haproxy_leader_listen_port }}
        option httpchk OPTIONS /master
        http-check expect status 200
        default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
{% for server in patroni_haproxy_servers %}
        server {{ server.name }} {{ server.ip }}:{{ server.port }} maxconn {{ patroni_bootstrap_dcs_postgresql_parameters | selectattr('option', 'in', 'max_connections') | map(attribute='value') | list }} check port {{ patroni_restapi_port }}
{% endfor %}

listen replicas
        bind *:{{ patroni_haproxy_replica_listen_port }}
        option httpchk OPTIONS /replica
        http-check expect status 200
        default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
{% for server in patroni_haproxy_servers %}
        server {{ server.name }} {{ server.ip }}:{{ server.port }} maxconn {{ patroni_bootstrap_dcs_postgresql_parameters | selectattr('option', 'in', 'max_connections') | map(attribute='value') | list }} check port {{ patroni_restapi_port }}
{% endfor %}
